html {
	background-color: black;
}

body {
	font-family: 'Asap', sans-serif;
	background-color: black;
}
/******************************************************/
#header {
	padding-top: 17em;
	padding-bottom: 17em;

	color: white;
	background-image: linear-gradient(rgb(10,55,70), rgb(140,160,200));
	margin-bottom: 0;
}
/********************************************************/
.skill {
	background-color: rgba(0,0,10,0.75);
}


#navigation {
	padding-top: 2em;
	padding-bottom: 2em;
}

/*SVG icons***********************************************************************/
.devicon {
	max-height: 5em;
}


/*Contact***********************************************************************/
#contact {
	background-color: rgb(240,240,240);
}

#message {
	margin-top: 1em;
	margin-bottom: 1em;
}
/*Footer************************************************************************/
#footer {
}
